.Document {

    // background-color: #F2F7F9;
    min-height: 100%;
    padding: 0px 20px;
    // background-color: #E6EEF3;
    // margin: 10px;

    .document-title {
        padding: 20px 0px;
        // border-bottom: 1px solid #0b9bbc ;
    }

    .document-data {
        padding: 10px;
        background-color: white;
    }
}