.Header {
    padding: 18px;
    // margin: 50 px;
    box-shadow: 0 3px 3px -3px black;
    
    font-family: 'Syne Mono', monospace;

    li {
            list-style-type: none;
            float: left;
            // padding: 20px;

            .link {
                padding: 20px;
                justify-content: right;
            }
    } 

    // ul {
    //     list-style-type: none;
    //     margin: 0;
    //     padding: 0;
    //     overflow: hidden;
    //     background-color: #333;
    //   }
      
    //   li {
    //     float: left;
    //   }
      
    //   li a {
    //     display: block;
    //     color: white;
    //     text-align: center;
    //     padding: 14px 16px;
    //     text-decoration: none;
    //   }
      
    //   li a:hover:not(.active) {
    //     background-color: #111;
    //   }
      
    //   .active {
    //     background-color: #04AA6D;
    //   }

}

